{erl_opts, [warnings_as_errors,
            warn_export_all,
            {lager_truncation_size, 15360}]}.   %% 15KB

{xref_checks, [undefined_function_calls]}.
{cover_enabled, true}.

{edoc_opts, [{doclet, edown_doclet},
             {dialyzer_specs, all},
             {report_missing_type, true},
             {report_type_mismatch, true},
             {pretty_print, erl_pp},
             {preprocess, true}]}.

{deps_error_on_conflict, true}.

{deps, [
    {eredis, "1.*", {git, "https://github.com/Nordix/eredis.git", {tag, "v1.4.1"}}},
    {ecredis_crc16, ".*", {git, "git@github.com:HalloAppInc/ecredis-crc16.git", {branch, "master"}}},
    {lager, ".*", {git, "https://github.com/erlang-lager/lager", {tag, "3.6.10"}}}
    ]}.

%% see README here: https://github.com/blt/port_compiler
{overrides,
    [{override, ecredis_crc16, [
        {plugins, [pc]},
        {artifacts, ["priv/ecredis_crc16.so"]},
        {provider_hooks, [
            {post, [
                    {compile, {pc, compile}},
                    {clean, {pc, clean}}]}
        ]}
    ]}]}.
